<h2>Detalle del Arriendo</h2>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Película</th>
      <th>Fecha de creación</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= arriendo.id %></td>
      <td><%= arriendo.cliente.nombre %></td>
      <td><%= arriendo.pelicula.titulo %></td>
      <td><%= arriendo.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= link_to "Mostrar arriendo", pelicula_path(arriendo.pelicula), class: "btn btn-secondary" %></td>
    </tr>
  </tbody>
</table>
<hr>

