<%= form_with(model: arriendo, local: true, class: "form") do |form| %>
  <div class="field mb-4">
    <%= form.label :cliente_id, class: "form-label" %>
    <%= form.collection_select :cliente_id, Cliente.all, :id, :nombre, { prompt: "Seleccionar cliente" }, class: "form-select" %>
  </div>

  <div class="field mb-4">
    <%= form.label :pelicula_id, class: "form-label" %>
    <%= form.collection_select :pelicula_id, Pelicula.all, :id, :titulo, { prompt: "Seleccionar película" }, class: "form-select" %>
  </div>
<hr>
  <div class="actions d-flex gap-2">
    <%= link_to "Volver a arriendos", arriendos_path, class:"btn btn-secondary" %>
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>

